

* {
  margin: 0;
}

body {
  width: 100%;
}

h1 {
  margin: 20px;
  display: block;
}

h2 {
  margin: 20px;
  display: block;
}

h3 {
  margin: 20px;
  display: block;
}

#control {
  margin-right: 15px;
  margin-left: 15px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label {
  display: table-cell;
  width: 100%;
  margin-left: 15px;
  font-size: 20px;
}

input {
  display: table-cell;
  width: 100%;
  font-size: 20px;
}

button {
  width: 100%;
  font-size: 20px;
}

#fl-script {
  width: 100%;
  height: 100%;
}

#fl-output {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


textarea {
  resize: none;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

#instrs-view {
  height: 1000px;
}

img {
  max-width: 600px;
  max-height: 600px;
}


@media screen and (min-width: 1400px) {
  ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  width: 30%;
}
#main {
  height: 600px;
  width: 40%;
  align-content: center;
}

#side {
  height: 600px;
  display: inline-block;
  width: 40%;
}
}


@media screen and (max-width: 1399px) {
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#fl-output {
  height: 600px;
}

ul li {
  font-size: 20px;
  padding: 5px;
  margin: 0;
  width: 100%;
}
#main {
  height: 600px;
  width: 100%;
  align-content: center;
}

#side {
  height: 100px;
  display: inline-block;
  width: 100%;
}
}
