@media screen and (min-width: 1487px) {

#fl-build-output {
    width: 20%;
    height: calc(100% - 100px);
    border-left:4px solid #1100ff;
    padding:1%;
    float:right;
}

#instructions {
    width: 40%;
    height: calc(100% - 100px);
    border-right:4px solid #1100ff;
    padding:1%;
    float:left;
}

main{
    width: 40%;
    height: calc(100% - 100px);
    float:left;
}

#fl-build-script-output {
    height: calc(100% - 100px);
}

#fl-instruction-search-btn {
    width: 100%;
    height: 50px;
}

}