@media screen and (max-width: 1486px) {


#fl-build-output {
    width: 100%;
    height: 600px;
    border-bottom:4px solid #1100ff;
    padding:1%;
}

#instructions {
    width: 100%;
    height: 600px;
    border-bottom: :4px solid #1100ff;
    padding:1%;
}

main{
    width: 100%;
    border-bottom: :4px solid #1100ff;
    height: 600px;
}

#fl-build-script-output {
    height: 100%;
}

}